{% extends 'plantilla.html' %}

{% block content %}

<!--
    html:
        div: Se crea un bloque/division.
        form: Crea una sección con contenido interactivo con el servidor.
        method post: para enviar informacion oculta
    css:
        class container: Permitira cuadrar el segmento main.
        class row: crea un fila en la cual agregar elementos.
        class col-md-4 offset-md-4 mt-5: crea una columna con md-4 corresponde a Medium, que se refiere al ancho del
            del formulario, offset-md-4 corresponde al margen de izquierda a derecha de la columna, mt corresponde a 
            Margin Top, que es el margen superior.
        class card card-body: Coloca un limitador/borde alrededor del formulario.
-->
<main class = "container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="post" class = "card card-body">
                <h1 class = "text-center">Signin</h1>
                {{error}}
                {% csrf_token %}
                <!--
                    html:
                        div: Se crea un bloque/division  que contendra un confirmador de contraseña.
                        label: Etiqueta perteneciente al input confirmar contraseña.
                        input: Se agrega un input de tipo contraseña, el cual oculta el texto ingresado.
                        placeholder: Texto mostrado en el input.
                    css:
                        mb-3: significa Margin bottom, el numero corresponde a una medida correspondiente al margen.
                        form-control: Muestra un limitador/borde alrededor del input.
                -->
                <div class="mb-3">
                    <label for="usuario">Usuario:</label>
                    <input type="text" name = "usuario" class = "form-control"
                    placeholder="Introduce tu usuario">
                </div>

                <!--
                    html:
                        div: Se crea un bloque/division  que contendra un confirmador de contraseña.
                        label: Etiqueta perteneciente al input confirmar contraseña.
                        input: Se agrega un input de tipo contraseña, el cual oculta el texto ingresado.
                        placeholder: Texto mostrado en el input.
                    css:
                        mb-3: significa Margin bottom, el numero corresponde a una medida correspondiente al margen.
                        form-control: Muestra un limitador/borde alrededor del input.
                -->
                <div class="mb-3">
                    <label for="password">Contraseña:</label>
                    <input type="password" name = "password" class = "form-control"
                    placeholder="Introduce tu contraseña">
                </div>

                <!--
                    html:
                    se crea un boton usando la etiqueta button
                    css:
                    se usa el estilo btn btn-primary, que muestra un boton azul.
                -->
                <button class = "btn btn-primary">
                    Iniciar sesión
                </button>
            </form>
        </div>
    </div>
</main>


{% endblock %}